<div class="flex h-screen bg-zinc-900">
  <div class="w-full max-w-sm p-6 m-auto bg-zinc-800 rounded-md shadow-md">
    <h1 class="text-3xl font-semibold text-center text-gray-100 select-none">
      Reset Password
    </h1>

    <form [formGroup]="resetPasswordForm" class="mt-6">
      <label class="block text-sm text-gray-200">Email Address</label>

      <app-input [control]="email" placeholder="Email Address"></app-input>
      <button
        type="submit"
        class="w-full px-4 py-2 mt-3 tracking-wide text-white transition-colors duration-200 transform bg-sky-800 rounded-sm hover:bg-sky-900 disabled:opacity-50 disabled:bg-zinc-600"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset Password
      </button>
      <button
        routerLink="/login"
        class="w-full px-4 py-2 mt-2 tracking-wide text-white transition-colors duration-200 transform bg-none border border-sky-800 rounded-sm hover:bg-sky-800"
      >
        Login
      </button>
    </form>
  </div>
</div>
