<app-navbar></app-navbar>
<div class="h-screen">
  <div class="h-screen flex justify-center text-white bg-zinc-900">
    <div class="flex justify-center w-full">
      <div
        class="background relative rounded-l-xl rounded-r-xl rounded-t-none cursor-pointer h-screen md:w-7/12 h-3/6 shadow-lg"
      >
        <button
          class="p-2 text-black bg-white rounded-md absolute font-semibold right-5 bottom-5"
        >
          <fa-icon [icon]="faCamera" class="my-auto"></fa-icon>
          Add Cover Photo
        </button>
      </div>
    </div>
  </div>
  <h1>Hey</h1>
  <!-- <div class="bg-zinc-800 h-4/6 w-full md:flex justify-center"></div> -->
</div>
